<div class="container" ng-controller="NovoTorneioController as novoController">
    <div class="panel panel-default" ng-init="dashController.verRanking()">
        <div class="panel-heading">
            <h3 class="panel-title"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> Personalizar Torneio</h3>
        </div>
        <div class="panel-body">
            <h4 class="text-center"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Jogadores</h4>
            <hr>
            <form name="formTorneio">
                Quantidade de Participantes: 
                <input type="number" name="quantity" min="1" max="10" ng-model="num">
                <button type="button" ng-click="novoController.cadastroJogadores(num)">Adicionar Jogadores</button>
                <div ng-repeat="jogador in novoController.jogadores track by $index">
                    <br><input type="text" class="form-control" ng-model="novoController.jogadores[$index]" required>
                </div>
                <hr>
                <p><label for="volta"><input type="checkbox" id="volta" ng-model="estilo.idaevolta"> Partidas de Ida e Volta</label></p>
                <!-- <p>debug: {{novoController.jogadores}}</p> -->
                <br>
                <button type="button" class="btn btn-primary" ng-click="novoController.criarTorneio()" ng-disabled="!novoController.jogadores">Criar Torneio</button>
                <!-- <h1>Partidas do torneio</h1>
                <ul>
                    <li ng-repeat="item in novoController.lista_partidas"> {{$index + 1}} - {{item.player1}} x {{item.player2}}</li>
                </ul> -->
            </form>
        </div>
    </div>
</div>